<center>
<h1> <%= @trip.name %> </h1>
image of city<br/>

Group Packing list:<br/><br/><br/><br/>
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      Places to eat:
    </div>
    <div class="col">
      Things to do:
    </div>
    <div class="col">
      Todays Itinerary:
    </div>
  </div>
</div>
<center/>