<div id="logo" align="left">
  <img src="https://raw.githubusercontent.com/On-y-va/onyva_fe/main/src/assets/onyva_logo.png" class="img-fluid" alt="onyva logo" width="200" height="200" />
</div>
<center>
<h1> <%= @trip.name %> </h1>
image of city<br/>

Group Packing list:<br/><br/><br/><br/>
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      Places to eat:
    </div>
    <div class="col">
      Things to do:
    </div>
    <div class="col">
      Todays Itinerary:
    </div>
  </div>
</div>
</center>