<div id="button" align="right">
  <div class='btn-group'>
    <%= button_to "Trip Details", trip_path(@trip_id), method: :get, local: true, class:"btn btn-dark btn-sm" %>
  </div>
</div>
<center>
<div id="logo" align="center">
  <img src="https://raw.githubusercontent.com/On-y-va/onyva_fe/main/src/assets/onyva_logo.png" class="img-fluid" alt="onyva logo" width="400" height="auto" />
</div>
</center>
<center>
  <h3> Flight Information </h3>
</center>
<div id="table" >
  <table class="table">
    <thead class="table-secondary">
      <tr>
        <th scope="col">User email</th>
        <th scope="col">Airline Code</th>
        <th scope="col">Flight Number</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
    <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td>User Email</td>
        <td><%= flight.airline_code %></td>
        <td><%= flight.flight_number %></td>
        <td><%= flight.date %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>