<center>

<div class="logo" align="center">
<img src="https://raw.githubusercontent.com/On-y-va/onyva_fe/main/src/assets/onyva_logo.png" class="img-fluid" alt="onyva logo" width="400" height="auto" />
</div>

<div class="btn-group">
  <%= button_to "Continue with Google", '/auth/google_oauth2', method: :get, local: true, class:"btn btn-dark" %>
</div>
</center>

