<center>
<h1> Welcome to ONYVA </h1><br/>
<h2> image </h2><br/>

<div class="btn-group">
  <%= button_to "Register", new_user_path, method: :get, class:"btn btn-dark" %>&nbsp;&nbsp;&nbsp;
  <%= button_to "Log In", "/login", method: :get, class:"btn btn-dark" %>
</div>
<center/>
