@import "bootstrap";

// .nav-font {
//   font-family: "Garamond", sans-serif;
//   color: white;
// }

.navbar a {
  color: white;
  font-family: "arial rounded mt bold", sans-serif;
}

.navbar a:hover {
  color: #DA70D6;
  transition: 0.7s;
}

.button{
  background-color: rgb(105, 115, 207);
  color: white;
  box-shadow: 0px 0px 2px 2px #6a5acd;
  font-family: "arial rounded mt", sans-serif;
  border-radius: 12px;
}

.button-danger{
  background-color: rgb(92, 141, 255);
  color: white;
  box-shadow: 0px 0px 2px 2px #6a5acd;
  font-family: "arial rounded mt", sans-serif;
  border-radius: 12px;
}

.button:hover {
  background-color: #DA70D6;
  transition: 0.7s;
}

.bg {
  background-color:  rgb(185, 192, 255);
  border-radius: 50px;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #DA70D6;
}

.font-class {
  color: white;
  font-family: "arial rounded mt bold", sans-serif;
}


@import 'carousel';